<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Smart Medbox</title>
</head>
<body>
    <header>
        <div>
            <div id="navbar" class="glossy">
                <a href="#">Home</a>
                <a href="#schedule">Schedules</a>
                <a href="#pulse">Pulse</a>
                <a href="#temperature">Temperature</a>
                <a onclick="dropMenu()" class="right" href="javascript:void(0)"><%= locals.user_data.username %>&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
            </div>
            <div id="drop_menu" class="hide">
                <a href=""><li><%= locals.user_data.email %></li></a>
                <a href="/logout"><li>LogOut</li></a>
            </div>
        </div>

    </header>

<br><br><br>
    <main>
    
        <h1 class="welcome">Hello, <%= locals.user_data.username %> 👋</h1>

        <!-- schedules -->
        <section class="container-fluid schedule" id="schedule">
            
            <div class="schedule-content">
                <h2 class="heading">Schedules</h2>
                <form class="flex-container" action='/schedule' enctype="application/x-www-form-urlencoded" method="post">
                    <div class="morning">
                        <h3>Morning</h3>
                        <input min="03:00" max="11:59" value="<%= locals.user_data.schedules.first %>" type="time" name="first" id="first">
                    </div>
                    <div class="afternoon">
                        <h3>Afternoon</h3>
                        <input min="12:00" max="18:59" value="<%= locals.user_data.schedules.second %>" type="time" name="second" id="second">
                    </div>
                    <div class="night">
                        <h3>Night</h3>
                        <input min="19:00" max="2:59" value="<%= locals.user_data.schedules.third %>" type="time" name="third" id="third">
                    </div>
                    <div class="other">
                        <h3>Other</h3>
                        <input value="<%= locals.user_data.schedules.fourth %>" type="time" name="fourth" id="fourth">
                    </div>
                    <input value="<%= locals.user_data.uid %>" type="hidden" name="uid" id="uid">

                
                    <button class="btn btn-primary" type="submit">Set Schedule</button>
                    
                </form>

            </div>
        </section>

        <br><br>
        

        <div class="pulse-content container-fluid pulse" id="pulse">
            <h2 class="heading row">Pulse</h2>
            <div class="row">
                <canvas class="col" id="pulseChart" style="max-height: 600px; width:50%;max-width:1400px"></canvas>
                <div class="latest_pulse col text-center">
                    <p class="value"><%= locals.user_data.pulseData.latestPulse %> bpm</p>
                    <p class="title">Latest Pulse</p>
                </div>
            </div>
            
        </div>
        

        <br><br>

        <div class="temp-content container-fluid temp" id="temperature">
            <h2 class="heading row">Temperature</h2>
            <div class="row">
                <canvas class="col" id="temperatureChart" style="max-height: 600px; width:50%;max-width:1400px"></canvas>
                <div class="latest_temperature col text-center">
                    <p class="value"><%= locals.user_data.temperatureData.latestTemperature %> °F</p>
                    <p class="title">Latest Temperature</p>
                </div>
            </div>
            
        </div>
                    
        <br>
        <div class="container-fluid prediction" id="prediction">
            <div class="predText">
            <p>Heart Attack Prediction</p>
            <p>Your risk of heart attack is: <span id="predictionResult"><%= locals.user_data.heartAttackPrediction %></span></p>
            </div>
            <form action="/prediction" method="post">
                <input value="<%= locals.user_data.uid %>" type="hidden" name="uid" id="uid">
                <input value="<%= locals.user_data.age %>" type="hidden" name="age" id="age">
                <input value="<%= locals.user_data.gender %>" type="hidden" name="gender" id="gender">
                <input value="<%= locals.user_data.pulseData.pulseHistory %>" type="hidden" name="pulseHistory" id="pulseHistory">
                <button type="submit" class="btn btn-primary predButton">Check</button>
            </form>
            
        </div>
    </main>

<br>
    <footer>
        <div class="container-fluid">
            <div class="iot-dp glossy">&copy; IoT Design Project</div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        async function getUser(id) {
            const res = await fetch(`/data/${id}`);
            let data = await res.json();
            data = data.user_data;
            showChart(data.pulseData.time, data.pulseData.pulseHistory, data.temperatureData.time, data.temperatureData.temperatureHistory);
        }
        const user_id = "<%= locals.user_data.uid %>"
        getUser(user_id);

        
        
    </script>


    <script src="/javascripts/home.js"></script>
</body>
</html>